
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #654321;
    /* background: linear-gradient(135deg,#410557,#29c7a2, #c229c7, #2a5298 ,#2a9898); */
    font-family: 'Arial', sans-serif;
    color: #fff;
}

.clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(210, 105, 30, 1);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.clock {
    font-size: 5rem;
    font-weight: bold;
    display: flex;
    gap: 0.5rem;
}

#ampm {
    font-size: 2rem;
    vertical-align: top;
    margin-left: 10px;
    opacity: 0.8;
}
